# Pull Twitter Data

In [1]:
import tweepy as tw
import pandas as pd
import numpy as np
import time
import requests
from datetime import datetime
import seaborn as sns
from matplotlib import pyplot as plt
import calendar

In [2]:
# Get this from the app that you create on the developer portal
BEARER_TOKEN = "AAAAAAAAAAAAAAAAAAAAAEJSWwEAAAAAW0pE8iFqsh6Z6HMK5SEkqtRbt4E%3D9YcPS68vNQybgeQS2Mv64SKSe8fWbUD5w4iUGUzF1ApIV6LUy0"

In [3]:
# Initialize the API client and tell tweepy to wait if rate limit is met
client = tw.Client(bearer_token=BEARER_TOKEN, wait_on_rate_limit=True)

In [16]:
# Example start and end date
start_date = datetime.strptime("2021-01-01", "%Y-%m-%d")
end_date = datetime.strptime("2021-03-31", "%Y-%m-%d") #change short time period
query_results = []
places = {}
max_results_per_request = 500 # must be between 10 and 500

# Use the paginator to loop over all available tweets in batches of 500
# This pulls 500 tweets at a time until all tweets from the time period are pulled
for i, tweets in enumerate(
    tw.Paginator(
        client.search_all_tweets,
        query="#Covid19vaccine -is:retweet place:USA", #change with only one different key words each time you run
        tweet_fields=["created_at", "geo"],
        place_fields=["place_type", "geo"],
        expansions="geo.place_id",
        max_results=max_results_per_request,
        start_time=start_date,
        end_time=end_date,
        limit=1000 #use with 1000
    )
):
    print(f"Response #{i+1}")
    
    # Store the tweet data
    # Note: 'tweets.data' is a list of the 500 tweets
    query_results += tweets.data
    
        # Keep track of all of the places
    for p in tweets.includes['places']:
        places[p["id"]] = p

Response #1

In [17]:
# Convert to a dataframe and make a datetime column
query_results = pd.DataFrame(query_results)
query_results['created_at'] = pd.to_datetime(query_results['created_at'])

# Extract out the place id as its own column
query_results['place_id'] = query_results['geo'].apply(lambda geo: geo['place_id'])

In [18]:
# Convert places dict to a dataframe
places_df = []

# Loop over each place_id
for place_id in places:
    
    # Geo info for each place
    values = places[place_id]
    
    # Convert to a dict
    row = dict(values)
    
    # Save it
    places_df.append(row)
    
# Initialize the dataframe
places_df = pd.DataFrame(places_df).rename(columns={"id": "place_id"})

In [19]:
query_results

,created_at,geo,id,text,place_id
0,2021-03-30 17:26:22+00:00,{'place_id': '4ec01c9dbc693497'},1376948930257256451,I have been vaxxed! Start the clock for the se...,4ec01c9dbc693497
1,2021-03-30 16:07:03+00:00,{'place_id': '3b98b02fba3f9753'},1376928970046910467,1st 游눌 down. 1 to go. Big shout out to @ACHealt...,3b98b02fba3f9753
2,2021-03-30 00:03:11+00:00,{'place_id': '67d92742f1ebf307'},1376686406370746369,"My son-in-law was among the 13,000 today. So g...",67d92742f1ebf307
3,2021-03-29 20:09:10+00:00,{'place_id': 'de599025180e2ee7'},1376627512692903943,"Got dose #1 today, looking forward to dose #2 ...",de599025180e2ee7
4,2021-03-29 19:45:00+00:00,{'place_id': '4ec01c9dbc693497'},1376621431879000067,@POTUS @CityFoodLover such a great news! 90% o...,4ec01c9dbc693497
...,...,...,...,...,...
187,2021-01-08 20:47:03+00:00,{'place_id': 'dd9c503d6c35364b'},1347646019215962113,Updated #PA #COVID19vaccine plan from @PAHeal...,dd9c503d6c35364b
188,2021-01-08 16:14:16+00:00,{'place_id': '9807c5c5f7a2c6ce'},1347577371277324288,Soooo I finally get to shoot my shot! #COVID19...,9807c5c5f7a2c6ce
189,2021-01-08 05:10:57+00:00,{'place_id': '3b98b02fba3f9753'},1347410441522335744,One of the hardest things of being in a Phase ...,3b98b02fba3f9753
190,2021-01-06 18:21:34+00:00,{'place_id': '2d83c71ce16cd187'},1346884631073845250,Got my vaccine today!!! Doing my part! #COVID1...,2d83c71ce16cd187
191,2021-01-01 00:20:18+00:00,{'place_id': '67d92742f1ebf307'},1344800580741574656,#HappyNewYearsEve received my #first #dose of ...,67d92742f1ebf307

In [20]:
places_df

,full_name,geo,place_id,place_type
0,"Florida, USA","{'type': 'Feature', 'bbox': [-87.634643, 24.39...",4ec01c9dbc693497,admin
1,"North Carolina, USA","{'type': 'Feature', 'bbox': [-84.3219475, 33.7...",3b98b02fba3f9753,admin
2,"Michigan, USA","{'type': 'Feature', 'bbox': [-90.4181075, 41.6...",67d92742f1ebf307,admin
3,"Ohio, USA","{'type': 'Feature', 'bbox': [-84.8203089, 38.4...",de599025180e2ee7,admin
4,"Virginia, USA","{'type': 'Feature', 'bbox': [-83.67529, 36.540...",5635c19c2b5078d1,admin
5,"Minnesota, USA","{'type': 'Feature', 'bbox': [-97.239256, 43.49...",9807c5c5f7a2c6ce,admin
6,"South Carolina, USA","{'type': 'Feature', 'bbox': [-83.353955, 32.04...",6057f1e35bcc6c20,admin
7,"Colorado, USA","{'type': 'Feature', 'bbox': [-109.060257, 36.9...",e21c8e4914eef2b3,admin
8,"Wisconsin, USA","{'type': 'Feature', 'bbox': [-92.889433, 42.49...",7dc5c6d3bfb10ccc,admin
9,"Georgia, USA","{'type': 'Feature', 'bbox': [-85.605166, 30.35...",7142eb97ae21e839,admin
10,"Texas, USA","{'type': 'Feature', 'bbox': [-106.645646, 25.8...",e0060cda70f5f341,admin
11,"Tennessee, USA","{'type': 'Feature', 'bbox': [-90.310298, 34.98...",7f7d58e5229c6b6c,admin
12,"California, USA","{'type': 'Feature', 'bbox': [-124.482003, 32.5...",fbd6d2f5a4e4a15e,admin
13,"Pennsylvania, USA","{'type': 'Feature', 'bbox': [-80.519851, 39.71...",dd9c503d6c35364b,admin
14,"Illinois, USA","{'type': 'Feature', 'bbox': [-91.51308, 36.970...",f54a2170ff4b15f7,admin
15,"Alaska, USA","{'type': 'Feature', 'bbox': [-179.231086, 51.1...",07179f4fe0500a32,admin
16,"Washington, USA","{'type': 'Feature', 'bbox': [-124.848975, 45.5...",bc3a38d3d5999b4b,admin
17,"Arizona, USA","{'type': 'Feature', 'bbox': [-114.818269, 31.3...",a612c69b44b2e5da,admin
18,"Oklahoma, USA","{'type': 'Feature', 'bbox': [-103.0026515, 33....",bd3d2074a33fbd06,admin
19,"Nevada, USA","{'type': 'Feature', 'bbox': [-120.00574, 35.00...",d374fb61a20fb74f,admin
20,"Kentucky, USA","{'type': 'Feature', 'bbox': [-89.57151, 36.497...",6ffcf3b0b904bbcb,admin
21,"Indiana, USA","{'type': 'Feature', 'bbox': [-88.097892, 37.77...",1010ecfa7d3a40f8,admin
22,"Iowa, USA","{'type': 'Feature', 'bbox': [-96.6396669, 40.3...",3cd4c18d3615bbc9,admin
23,"New Mexico, USA","{'type': 'Feature', 'bbox': [-109.050173, 31.3...",71d65c0e6d94efab,admin
24,"New York, USA","{'type': 'Feature', 'bbox': [-79.76259, 40.477...",94965b2c45386f87,admin
25,"Mississippi, USA","{'type': 'Feature', 'bbox': [-91.655009, 30.14...",43d2418301bf1a49,admin
26,"New Jersey, USA","{'type': 'Feature', 'bbox': [-75.563587, 38.78...",65b4760a2b411e11,admin
27,"Maryland, USA","{'type': 'Feature', 'bbox': [-79.487651, 37.88...",dea1eac2d7ef8878,admin
28,"Vermont, USA","{'type': 'Feature', 'bbox': [-73.437741, 42.72...",9aa25269f04766ab,admin
29,"Delaware, USA","{'type': 'Feature', 'bbox': [-75.7887564, 38.4...",3f5897b87d2bf56c,admin
30,"Massachusetts, USA","{'type': 'Feature', 'bbox': [-73.508143, 41.18...",cd450c94084cbf9b,admin
31,"Missouri, USA","{'type': 'Feature', 'bbox': [-95.774704, 35.99...",2526edd24c06e60c,admin
32,"Arkansas, USA","{'type': 'Feature', 'bbox': [-94.61771, 33.004...",e8ad2641c1cb666c,admin
33,"Kansas, USA","{'type': 'Feature', 'bbox': [-102.051769, 36.9...",27c45d804c777999,admin
34,"Connecticut, USA","{'type': 'Feature', 'bbox': [-73.727776, 40.95...",e86b380cfefcced5,admin
35,"Alabama, USA","{'type': 'Feature', 'bbox': [-88.473228, 30.14...",288de3df481163e8,admin
36,"Idaho, USA","{'type': 'Feature', 'bbox': [-117.243028, 41.9...",4723507d8ce23a60,admin
37,"West Virginia, USA","{'type': 'Feature', 'bbox': [-82.644739, 37.20...",2d83c71ce16cd187,admin

In [21]:
# Merge in the places geo data and the query results
query_results_final = query_results.merge(places_df, how='left', on='place_id')
query_results_final=query_results_final.drop(['geo_x', 'id','place_id','geo_y','place_type'], axis=1)
query_results_final['created_at']=query_results_final['created_at'].dt.strftime('%d-%m-%Y')

In [22]:
query_results_final.head()

,created_at,text,full_name
0,30-03-2021,I have been vaxxed! Start the clock for the se...,"Florida, USA"
1,30-03-2021,1st 游눌 down. 1 to go. Big shout out to @ACHealt...,"North Carolina, USA"
2,30-03-2021,"My son-in-law was among the 13,000 today. So g...","Michigan, USA"
3,29-03-2021,"Got dose #1 today, looking forward to dose #2 ...","Ohio, USA"
4,29-03-2021,@POTUS @CityFoodLover such a great news! 90% o...,"Florida, USA"

In [33]:
query_results_final.to_csv('pullnew.csv',index=False,encoding='utf-8')